<div class="toolbar">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-auto" [ngClass]="navService.sidebarState.sidenavOpen ? 'sidebar-open' : 'sidebar-close'">
                <button *ngIf="!hideBack" type="button"
                    class="btn btn-outline-primary m-2 no-line d-flex align-items-center" (click)="back()">
                    กลับ
                </button>
            </div>
            <div class="col-auto m-2">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>
<toolbar>
    <button type="button" class="btn btn-primary ml-1 mr-1 pl-3 pr-3 d-flex align-items-center" (click)="save()">
        บันทึก
    </button>
</toolbar>

<div class="row">
    <div class="col-md-12 mt-5">
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-title mb-3">เพิ่มห้องเรียน</div>
                <form [formGroup]="addForm">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label>ชื่อห้อง <span class="request-star">*</span></label>
                            <input type="text" class="form-control" formControlName="mapClassRoomTeacherName" placeholder="ชื่อห้อง">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>ระดับชั้น <span class="request-star">*</span></label>
                            <input type="text" class="form-control" formControlName="educationLevel" placeholder="ประถมศึกษา,มัธยมศึกษา">
                        </div>


                        <div class="col-md-6 form-group mb-3">
                            <label>ชั้นปี <span class="request-star">*</span></label>
                            <input type="text" class="form-control" formControlName="class" placeholder="ชั้นปี">
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>ห้องเรียนที่ <span class="request-star">*</span></label>
                            <input type="text" class="form-control" formControlName="room" placeholder="ห้องเรียนที่">

                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label>อาจารย์คนที่ 1 <span class="request-star">*</span></label>
                            <select class="form-control" formControlName="empProfileIdFirst">
                                <option value="null" disabled selected>เลือกครูประจำชั้นคนที่ 1</option>
                                <option *ngFor="let emp of EmpList1" [value]="emp.empProfileId">{{emp.firstName}}
                                    {{emp.lastName}}</option>
                            </select>

                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>อาจารย์คนที่ 2</label>
                            <select class="form-control" formControlName="empProfileIdSecond">
                                <option value="null">เลือกครูประจำชั้นคนที่ 2</option>
                                <option *ngFor="let emp of EmpList2" [value]="emp.empProfileId">{{emp.firstName}}
                                    {{emp.lastName}}</option>
                            </select>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm col-md">
        <button type="button" class="btn btn-primary float-right" (click)="addStudent()">
            เพื่มนักเรียน
        </button>
    </div>
</div>

<div class="card mt-4 mb-4">
    <div class="card-body">
        <div class="card-title mb-3">รายชื่อนักเรียน</div>
    </div>
    <div class="card-body">
        <div class="card o-hidden">
            <ngx-datatable style="height: 500px; box-shadow: none" class="material fullscreen" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true" [rows]="studentList">
                <ngx-datatable-column name="studentCode" [width]="250">
                    <ng-template ngx-datatable-header-template>
                        รหัสนักเรียน
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="studentName" [width]="250">
                    <ng-template ngx-datatable-header-template>
                        ชื่อนักเรียน
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]="50">
                    <ng-template ngx-datatable-header-template>
                        ลบ
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <button class="btn btn-danger ml-0"
                            (click)="remove(row.studentProfileId, modalDelete)">ลบ</button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>

<ng-template #modalDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">ยืนยันการลบ</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>ยืนยันการลบข้อมูล</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary"
            (click)="modal.dismiss('cancel')">ยกเลิก</button>
        <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close('Ok')">ยืนยัน</button>
    </div>
</ng-template>