<div class="">
    <div class="breadcrumb">
      <i class="i-Letter-Open ml-1"></i>
      <h1 class="text-primary ml-3">รายการ</h1>
      <ul>
        <li class="text-primary"></li>
      </ul>
    </div>
  
    <div class="separator-breadcrumb border-top"></div>
    
    <div class="row mt-2">
        <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let i of homeworkList" routerLink="/page/homeworkdetail/{{i.homeWorkId}}">
          <div class="card card-icon-bg  o-hidden mb-3 card-icon-bg-primary ">
            <div class="card-body mb-4 ml-3">
              <i class="i-Letter-Open"></i>
              <div class="mt-2">
                <p class="text-primary text-12 mb-2  font-weight-bold ml-5">บทที่:{{i.lesson}} ครั้งที่:{{i.orders}}</p>
                <p class="text-primary text-12 mb-2  font-weight-bold ml-5">{{i.contents}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    