<div class="breadcrumb">
    <h1 class="text-primary">วัน</h1>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center">
                    <p class="text-primary text-15 line-height-2 ml-5 mt-3">วันจันทร์</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center">
                    <p class="text-primary text-15 line-height-2 ml-5 mt-3">วันอังคาร</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center">
                    <p class="text-primary text-15 line-height-2 ml-5 mt-3">วันพุธ</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center">
                    <p class="text-primary text-15 line-height-2 ml-5 mt-3">วันพฤหัสบดี</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4">
            <div class="card-body text-center">
                    <p class="text-primary text-15 line-height-2 ml-5 mt-3">วันศุกร์</p>
            </div>
        </div>
    </div>
</div>