<div class="">
    <div class="breadcrumb">
        <i class="i-File-Edit ml-1"></i>
        <h1 class ="text-primary ml-3">การบ้าน</h1>
        <ul>
            <li class ="text-primary ">วิชา {{Subject.subjectCode}}{{Subject.subjectName}}</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>


<div class="row">
    <div class="col-md-4">
            <select class="form-control"  (change)="getHomework()"  [(ngModel)] = "ClassRoom"  >
                <option [value]="0" disabled selected>เลือกห้องเรียน</option>
                <option *ngFor="let i of roomList" [ngValue]="i.id">{{i.roomname}}</option>
            </select>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <button class="btn btn-primary mr-0" (click)="openModalDetail(modalConfirm)">เพิ่ม</button>
    </div>
    <div class="col-md-12 mt-4">
        <div class="card  o-hidden">
            <ngx-datatable style="height: 500px; box-shadow: none" class="material fullscreen"
            [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true"
            [rows]="row" >
            <ngx-datatable-column name="lesson" >
                <ng-template ngx-datatable-header-template>
                    บทที่
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="orders" >
                <ng-template ngx-datatable-header-template>
                    ครั้งที่
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="contents" >
                <ng-template ngx-datatable-header-template>
                    หัวข้อ
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <button class="btn btn-primary ml-0" routerLink="/page/homework-detail/{{ClassRoom}}/{{row.homeWorkId}}">ดูการบ้าน</button>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                    แก้ไข
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <button class="btn btn-warning ml-0" (click)="openModalDetail(modalConfirm, row)">แก้ไข</button>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                    ลบ
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <button class="btn btn-danger ml-0" (click)="remove(row.homeWorkId, modalDelete)">ลบ</button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
            </div>
        </div>
    </div>


    <ng-template #modalConfirm let-modal>
        <div class="modal-header">
            <h4 class="modal-title text-primary" id="modal-title">เพิ่ม</h4>
            <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
                (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" [formGroup]="addForm">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-primary mb-1">บทที่ <span class="request-star">*</span></p>
                    <input type="text" class="form-control" formControlName="lesson"
                        [class.is-invalid]="fu.hasError(addForm.controls.lesson)" placeholder="บทที่">
                    <div class="invalid-feedback" *ngIf="fu.hasError(addForm.controls.lesson)">
                        <div
                            *ngIf="addForm.controls.lesson.hasError('required') || addForm.controls.lesson.hasError('empty')">
                            กรุณาระบุข้อมูล
                        </div>
                        <div *ngIf="addForm.controls.lesson.hasError('maxlength')">
                            กรุณาระบุข้อมูลไม่เกิน {{ addForm.controls.lesson.errors.maxlength.requiredLength }} ตัวอักษร
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="text-primary mb-1">ครั้งที่ <span class="request-star">*</span></p>
                    <input type="text" class="form-control" formControlName="orders"
                        [class.is-invalid]="fu.hasError(addForm.controls.orders)" placeholder="ครั้งที่">
                    <div class="invalid-feedback" *ngIf="fu.hasError(addForm.controls.orders)">
                        <div
                            *ngIf="addForm.controls.orders.hasError('required') || addForm.controls.orders.hasError('empty')">
                            กรุณาระบุข้อมูล
                        </div>
                        <div *ngIf="addForm.controls.orders.hasError('maxlength')">
                            กรุณาระบุข้อมูลไม่เกิน {{ addForm.controls.orders.errors.maxlength.requiredLength }} ตัวอักษร
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="text-primary mb-1">หัวข้อ<span class="request-star">*</span></p>
                    <input type="text" class="form-control" formControlName="contents"
                        [class.is-invalid]="fu.hasError(addForm.controls.contents)" placeholder="หัวข้อ">
                    <div class="invalid-feedback" *ngIf="fu.hasError(addForm.controls.contents)">
                        <div
                            *ngIf="addForm.controls.contents.hasError('required') || addForm.controls.contents.hasError('empty')">
                            กรุณาระบุข้อมูล
                        </div>
                        <div *ngIf="addForm.controls.contents.hasError('maxlength')">
                            กรุณาระบุข้อมูลไม่เกิน {{ addForm.controls.contents.errors.maxlength.requiredLength }} ตัวอักษร
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-rounded"
                (click)="modal.dismiss('cancel')">ยกเลิก</button>
            <button type="button" ngbAutofocus class="btn btn-primary btn-rounded"
            (click)="save()">ยืนยัน</button>
        </div>
    </ng-template>

    <ng-template #modalDelete let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">ยืนยัน</h4>
            <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
                (click)="modal.dismiss('cancel')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>คุณแน่ใจหรือไม่ว่าจะลบข้อมูลนี้</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-rounded"
                (click)="modal.dismiss('cancel')">ยกเลิก</button>
            <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close('Ok')">ยีนยัน</button>
        </div>
    </ng-template>