<div class="breadcrumb">
    <h1 class="text-primary">ประถมศึกษาปีที่ 1 ห้องเรียน 1</h1>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <input id="email" placeholder="Search Products" [formControl]="searchControl"
                class="form-control form-control-rounded ml-0" type="email">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <input id="email" placeholder="Search Products" [formControl]="searchControl"
                class="form-control form-control-rounded ml-0" type="email">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <input id="email" placeholder="Search Products" [formControl]="searchControl"
                class="form-control form-control-rounded ml-0" type="email">
        </div>
    </div>
    <div class="col-md-2">
        <button class="btn ml-0">ค้นหา</button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary">เพิ่ม</button>
    </div>
    <div class="col-md-12">
        <div class="card  o-hidden">
            <ngx-datatable style="height: 500px; box-shadow: none" class="material fullscreen" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true" [rows]="filteredProducts">
                <ngx-datatable-column name="">
                    <ng-template ngx-datatable-header-template>
                        ชั้นเรียน
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="">
                    <ng-template ngx-datatable-header-template>
                        อาจารย์ 1
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="">
                    <ng-template ngx-datatable-header-template>
                        อาจารย์ 2
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="">
                    <ng-template ngx-datatable-header-template>
                        จำนวนนักเรียน
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>
                        แก้ไข
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <button class="btn btn-warning ml-0">แก้ไข</button>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>
                        ลบ
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <button class="btn btn-danger ml-0">ลบ</button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>