<h2 class="text-primary">รายชื่อบุคลากร</h2>
<hr>
<div class="card">
    <div class="search-bar mt-4">
        <i class="search-icon text-muted i-Magnifi-Glass1"></i>
        <input placeholder="ค้นหาบุคลากร" type="text" class="Field">
        <button class="btn-primary">ลงทะเบียน</button>
    </div>
    <div class="t row">
        <div class="col">รูปประจำตัวบุคลากร</div>
        <div class="col">เลขบัตรประจำตัวประชาชน</div>
        <div class="col">รายชื่อ</div>
        <div class="col">สถานะการทำงาน</div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <hr class="mt-1">
    <div class="t row mb-3">
        <div class="col"></div>
        <div class="col">1506530654379</div>
        <div class="col">อ.ถักดี ศรีพีทลุง</div>
        <div class="col">ทำงาน</div>
        <div class="col">
            <button class="btn" routerLink='/page/emp-leave'>ข้อมูลการลา</button>
        </div>
        <div class="col">
            <button class="btn btn-primary" routerLink='/page/emp-info'>ดูข้อมูล</button>
        </div>
        <div class="col">
            <button class="btn btn-danger">ลบบุคลากร</button>
        </div>
    </div>
</div>
