<div class="">
    <div class="breadcrumb">
        <h1 class="text-primary">รายวิชา</h1>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input id="email" placeholder="ค้นหา" [formControl]="searchControl"
                    class="form-control form-control-rounded ml-0" type="email">
            </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary mr-0" (click)="confirm(modalConfirm)">เพิ่มรายวิชา</button>
        </div>
        <div class="col-md-12" >
            <div class="card  o-hidden">
                <ngx-datatable style="height: 700px; box-shadow: none" class="material fullscreen"
                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true"
                    [rows]="row" >
                    <ngx-datatable-column name="" [width]="80" >
                        <ng-template ngx-datatable-header-template>
                            รหัสวิชา
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            {{row.codesubject}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="">
                        <ng-template ngx-datatable-header-template>
                            หน่วยกิต
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            {{row.credit}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="">
                        <ng-template ngx-datatable-header-template>
                            รายชื่อวิชา
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            {{row.subjecttitle}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="" >
                        <ng-template ngx-datatable-header-template>
                            แก้ไขรายวิชา
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <button class="btn btn-warning ml-0 " (click)="getDetail(row.subject_id,i)">แก้ไข</button>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="">
                        <ng-template ngx-datatable-header-template>
                            ลบรายวิชา
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <button class="btn btn-danger  ml-0 " (click)="getId(row.subject_id,i)">ลบ</button>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
        </div>
    </div>
</div>


<ng-template #modalConfirm let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-primary" id="modal-title">เพิ่มรายวิชา</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.close('ok')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="subjectForm">
              <p class="text-primary mb-1"><strong>รหัสวิชา</strong></p>
              <input id="codesubject" class="form-control" type="text" formControlName="codesubject">
              <p class="text-primary mb-1"><strong>หน่วยกิต</strong></p>
              <input id="credit" class="form-control" type="number" formControlName="credit">
              <p class="text-primary mb-1"><strong>รายชื่อวิชา</strong></p>
              <input id="subjecttitle" class="form-control" type="text" formControlName="subjecttitle">
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" ngbAutofocus class="btn btn-primary btn-rounded" (click)="onSubmit()">เพิ่ม</button>
    </div>
</ng-template>


<ng-template #modalDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">ลบวิชา</h4>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>ต้องการลบวิชานี้<span class="text-primary"></span> หรือไม่?</strong></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">ยกเลิก</button>
      <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click) = "modal.dismiss(delete(detail.subject_id,i))">ยืนยัน</button>
    </div>
</ng-template>



<ng-template #modalUpdate let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-primary" id="modal-title">แก้ไขรายวิชา</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.close('ok')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="subjectForm">
            <div class="form-group">
              <label>รหัสวิชา</label>
              <input id="codesubject" class="form-control form-control-rounded  " type="text" formControlName="codesubject" required>
            </div>
            <div class="form-group">
                <label>หน่วยกิต</label>
                <input id="credit" class="form-control form-control-rounded  " type="text" formControlName="credit" required>
            </div>
            <div class="form-group">
                <label>รายชื่อวิชา</label>
                <input id="subjecttitle" class="form-control form-control-rounded  " type="text" formControlName="subjecttitle" required>
            </div>
            <div class="modal-footer">
                <button type="button" ngbAutofocus class="btn btn-primary btn-rounded" (click) = "modal.dismiss(Update())">บันทึก</button>
            </div>
        </form>
    </div>
</ng-template>