<div class="breadcrumb">
    <h1 class="text-primary">รายชื่อวิชา</h1>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input id="text" placeholder="ค้นหารายวิชา" [(ngModel)]="keyword" (keydown.enter)="search()"
                class="form-control form-control-rounded ml-0" type="text">
        </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <button class="btn btn-primary mr-0" (click)="openModalDetail(modalConfirm)">เพิ่ม</button>
    </div>
    <div class="col-md-12">
        <div class="card  o-hidden">
                <ngx-datatable style="height: 500px; box-shadow: none" class="material fullscreen"
                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true"
                    [rows]="row" >
                    <ngx-datatable-column name="subjectCode">
                        <ng-template ngx-datatable-header-template>
                            รหัสรายวิชา
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="subjectName">
                        <ng-template ngx-datatable-header-template>
                            รายวิชา
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            ครูประจำวิชา
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            {{row.firstName}} {{row.lastName}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            แก้ไข
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <button class="btn btn-warning ml-0" (click)="openModalDetail(modalConfirm, row)">แก้ไข</button>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            ลบ
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <button class="btn btn-danger ml-0" (click)="remove(row.subjectId, modalDelete)">ลบ</button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>


    <ng-template #modalConfirm let-modal>
        <div class="modal-header">
            <h4 class="modal-title text-primary" id="modal-title">เพิ่มรายวิชา</h4>
            <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
                (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" [formGroup]="addForm">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-primary mb-1">รหัสรายวิชา <span class="request-star">*</span></p>
                    <input type="text" class="form-control" formControlName="subjectCode"
                        [class.is-invalid]="fu.hasError(addForm.controls.subjectCode)">
                    <div class="invalid-feedback" *ngIf="fu.hasError(addForm.controls.subjectCode)">
                        <div
                            *ngIf="addForm.controls.subjectCode.hasError('required') || addForm.controls.subjectCode.hasError('empty')">
                            กรุณาระบุข้อมูล
                        </div>
                        <div *ngIf="addForm.controls.subjectCode.hasError('maxlength')">
                            กรุณาระบุข้อมูลไม่เกิน {{ addForm.controls.subjectCode.errors.maxlength.requiredLength }} ตัวอักษร
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="text-primary mb-1">รายวิชา <span class="request-star">*</span></p>
                    <input type="text" class="form-control" formControlName="subjectName"
                        [class.is-invalid]="fu.hasError(addForm.controls.subjectName)">
                    <div class="invalid-feedback" *ngIf="fu.hasError(addForm.controls.subjectName)">
                        <div
                            *ngIf="addForm.controls.subjectName.hasError('required') || addForm.controls.subjectName.hasError('empty')">
                            กรุณาระบุข้อมูล
                        </div>
                        <div *ngIf="addForm.controls.subjectName.hasError('maxlength')">
                            กรุณาระบุข้อมูลไม่เกิน {{ addForm.controls.subjectName.errors.maxlength.requiredLength }} ตัวอักษร
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="text-primary mb-1">ครูประจำวิชา <span class="request-star">*</span></p>
                    <select class="form-control" formControlName="subjectTeacherId">
                        <option value="null">เลือกครูประจำวิชา</option>
                        <option *ngFor="let emp of EmpList" [value]="emp.empProfileId">{{emp.firstName}}
                            {{emp.lastName}}</option>
                    </select>
                </div>
                <div class="invalid-feedback" *ngIf="fu.hasError(addForm.controls.subjectTeacherId)">
                    <div
                        *ngIf="addForm.controls.subjectTeacherId.hasError('required') || addForm.controls.subjectTeacherId.hasError('empty')">
                        กรุณาระบุข้อมูล
                    </div>
                    <div *ngIf="addForm.controls.subjectTeacherId.hasError('maxlength')">
                        กรุณาระบุข้อมูลไม่เกิน {{ addForm.controls.subjectTeacherId.errors.maxlength.requiredLength }} ตัวอักษร
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-rounded"
                (click)="modal.dismiss('cancel')">Cancel</button>
            <button type="button" ngbAutofocus class="btn btn-primary btn-rounded"
            (click)="save()">Ok</button>
        </div>
    </ng-template>
    
    <ng-template #modalDelete let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">ยืนยัน</h4>
            <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
                (click)="modal.dismiss('cancel')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>คุณแน่ใจหรือไม่ว่าจะลบข้อมูลนี้</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary btn-rounded"
                (click)="modal.dismiss('cancel')">Cancel</button>
            <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close('Ok')">Ok</button>
        </div>
    </ng-template>