<div class="">
  <div class="breadcrumb">
    <i class="i-File-Edit ml-1"></i>
    <h1 class="text-primary ml-3">การบ้าน</h1>
    <ul>
      <li class="text-primary">ชั้น{{ Room.mapClassRoomTeacherName }}</li>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row" >
    <div class="col-md-3" *ngFor="let i of subjectList" routerLink="/page/homework-list/{{i.empProfileId}}/{{Profile.map_class_room_teacher_id}}">
        <div class="card card-profile-1 mb-5">
            <div class="card-body text-center">
                <div class=" box-shadow-2 mb-3">
                    <img src="./assets/images/subjecttitle2.jpg" alt="" >
                </div>
                <p class="text-primary text-12 mb-2 font-weight-bold">วิชา : {{i.subjectCode}} {{i.subjectName}}</p>
                <p class="text-primary text-12 mb-2 font-weight-bold">ครูผู้สอน : {{i.firstName}} {{i.lastName}}</p>
            </div>
        </div>
    </div>
  </div>
</div>
