<div class="ml-2">
    <h3 class="modal-title text-primary" id="modal-title">{{Profile.first_name}} {{Profile.last_name}}</h3>
    <p class="modal-title text-primary" id="modal-title">{{Room.mapClassRoomTeacherName}}</p>
</div>
<div class="row mt-5">
    <div class="col-lg-4 col-md-6 col-sm-6 " routerLink = "/page/room">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4" >
            <div class="card-body text-center">
                <i class="i-Student-Hat-2"></i>
                    <p class="text-primary text-15 line-height-2 ml-5 mt-3">ห้องเรียนออนไลน์</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 " routerLink = "/page/tt-detail">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4" >
            <div class="card-body text-center">
                <i class="i-Time-Window"></i>
                    <p class="text-primary text-15 line-height-2 ml-5 mt-3">ตารางเรียน</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 ">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4" >
            <div class="card-body text-center">
                <i class="i-Library"></i>
                    <p class="text-primary text-15 line-height-2 ml-5 mt-3">เอกสารประกอบการเรียน</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 ">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4" >
            <div class="card-body text-center">
                <i class="i-Letter-Open"></i>
                    <p class="text-primary text-15 line-height-2 ml-5 mt-3">การบ้าน</p>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-6 ">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4" >
            <div class="card-body text-center">
                <i class="i-File-Clipboard-File--Text"></i>
                    <p class="text-primary text-15 line-height-2 ml-5 mt-3">แบบทดสอบ</p>
            </div>
        </div>
    </div>
