<div class="breadcrumb">
    <h1 class="text-primary">ชั้นเรียนและห้องเรียน</h1>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <input id="text" placeholder="ค้นหาบุคลากร" [(ngModel)]="keyword" (keydown.enter)="search()"
                class="form-control form-control-rounded ml-0" type="text">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <input id="text" placeholder="ค้นหาบุคลากร" [(ngModel)]="keyword" (keydown.enter)="search()"
                class="form-control form-control-rounded ml-0" type="text">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <input id="text" placeholder="ค้นหาบุคลากร" [(ngModel)]="keyword" (keydown.enter)="search()"
                class="form-control form-control-rounded ml-0" type="text">
        </div>
    </div>
    <div class="col-md-2">
        <button class="btn ml-0">ค้นหา</button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-primary" routerLink="/page/add-room">เพิ่ม</button>
    </div>
    <div class="col-md-12">
        <div class="card  o-hidden">
            <ngx-datatable style="height: 500px; box-shadow: none" class="material fullscreen" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true" [rows]="roomList">
                <ngx-datatable-column name="map_class_room_teacher_name">
                    <ng-template ngx-datatable-header-template>
                        ชั้นเรียน
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="firstName">
                    <ng-template ngx-datatable-header-template>
                        อาจารย์ 1
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="firstName2">
                    <ng-template ngx-datatable-header-template>
                        อาจารย์ 2
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="">
                    <ng-template ngx-datatable-header-template>
                        จำนวนนักเรียน
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>
                        แก้ไข
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <button class="btn btn-warning ml-0" (click)="openModalDetail(modalConfirm, row)">แก้ไข</button>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>
                        ลบ
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <button class="btn btn-danger ml-0" (click)="remove(row.mapclassroomteacherId, modalDelete)">ลบ</button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>

<ng-template #modalConfirm let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-primary" id="modal-title">ชั้นเรียนและห้องเรียน</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" [formGroup]="addForm">
        <div class="row">
            <div class="col-md-6">
                <p class="text-primary mb-1">ชื่อห้อง <span class="request-star">*</span></p>
                <input type="text" class="form-control" formControlName="mapClassRoomTeacherName"
                    [class.is-invalid]="fu.hasError(addForm.controls.mapClassRoomTeacherName)">
                <div class="invalid-feedback" *ngIf="fu.hasError(addForm.controls.mapClassRoomTeacherName)">
                    <div
                        *ngIf="addForm.controls.mapClassRoomTeacherName.hasError('required') || addForm.controls.mapClassRoomTeacherName.hasError('empty')">
                        กรุณาระบุข้อมูล
                    </div>
                    <div *ngIf="addForm.controls.mapClassRoomTeacherName.hasError('maxlength')">
                        กรุณาระบุข้อมูลไม่เกิน {{ addForm.controls.mapClassRoomTeacherName.errors.maxlength.requiredLength }} ตัวอักษร
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="text-primary mb-1">ระดับชั้น <span class="request-star">*</span></p>
                <input type="text" class="form-control" formControlName="educationLevel"
                    [class.is-invalid]="fu.hasError(addForm.controls.educationLevel)">
                <div class="invalid-feedback" *ngIf="fu.hasError(addForm.controls.educationLevel)">
                    <div
                        *ngIf="addForm.controls.education_level.hasError('required') || addForm.controls.education_level.hasError('empty')">
                        กรุณาระบุข้อมูล
                    </div>
                    <div *ngIf="addForm.controls.education_level.hasError('maxlength')">
                        กรุณาระบุข้อมูลไม่เกิน {{ addForm.controls.firstName.errors.maxlength.requiredLength }} ตัวอักษร
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="text-primary mb-1">ชั้นเรียน <span class="request-star">*</span></p>
                <input type="text" class="form-control" formControlName="class"
                    [class.is-invalid]="fu.hasError(addForm.controls.class)">
                <div class="invalid-feedback" *ngIf="fu.hasError(addForm.controls.class)">
                    <div
                        *ngIf="addForm.controls.class.hasError('required') || addForm.controls.class.hasError('empty')">
                        กรุณาระบุข้อมูล
                    </div>
                    <div *ngIf="addForm.controls.class.hasError('maxlength')">
                        กรุณาระบุข้อมูลไม่เกิน {{ addForm.controls.class.errors.maxlength.requiredLength }} ตัวอักษร
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="text-primary mb-1">ห้องเรียน <span class="request-star">*</span></p>
                <input type="text" class="form-control" formControlName="room"
                    [class.is-invalid]="fu.hasError(addForm.controls.room)">
                <div class="invalid-feedback" *ngIf="fu.hasError(addForm.controls.room)">
                    <div
                        *ngIf="addForm.controls.room.hasError('required') || addForm.controls.room.hasError('empty')">
                        กรุณาระบุข้อมูล
                    </div>
                    <div *ngIf="addForm.controls.room.hasError('maxlength')">
                        กรุณาระบุข้อมูลไม่เกิน {{ addForm.controls.room.errors.maxlength.requiredLength }} ตัวอักษร
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="text-primary mb-1">อาจารย์ 1 <span class="request-star">*</span></p>
                <select class="form-control" formControlName="empProfileIdFirst"
                [class.is-invalid]="fu.hasError(addForm.controls.empProfileIdFirst)">
                <option value="null">เลือกครูประจำชั้น</option>
                <option *ngFor = "let emp of EmpList" [value]="emp.empProfileId">{{emp.firstName}}  {{emp.lastName}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="fu.hasError(addForm.controls.empProfileIdFirst)">
                    <div
                        *ngIf="addForm.controls.empProfileIdFirst.hasError('required') || addForm.controls.empProfileIdFirst.hasError('empty')">
                        กรุณาระบุข้อมูล
                    </div>
                    <div *ngIf="addForm.controls.empProfileIdFirst.hasError('maxlength')">
                        กรุณาระบุข้อมูลไม่เกิน {{ addForm.controls.empProfileIdFirst.errors.maxlength.requiredLength }} ตัวอักษร
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="text-primary mb-1">อาจารย์ 2 </p>
                <select class="form-control" formControlName="empProfileIdSecond"
                [class.is-invalid]="fu.hasError(addForm.controls.empProfileIdSecond)">
                <option value="null">เลือกครูประจำชั้น</option>
                <option *ngFor = "let emp of EmpList" [value]="emp.empProfileId">{{emp.firstName}}  {{emp.lastName}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-rounded"
            (click)="modal.dismiss('cancel')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-primary btn-rounded"
        (click)="save()">Ok</button>
    </div>
</ng-template>

<ng-template #modalDelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">ยืนยัน</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>คุณแน่ใจหรือไม่ว่าจะลบข้อมูลนี้</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-rounded"
            (click)="modal.dismiss('cancel')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close('Ok')">Ok</button>
    </div>
</ng-template>












<!-- <div class="breadcrumb">
    <h1 class="text-primary">ชั้นเรียนและห้องเรียน</h1>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input id="text" placeholder="ค้นหา" [formControl]="searchControl"
                class="form-control form-control-rounded ml-0" type="text">
        </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <button class="btn btn-primary mr-0" (click)="confirm(modalAdd)">
            <i class="i-Add"></i>
            เพิ่ม
        </button>
    </div>
    <div class="col-md-12">
        <div class="card  o-hidden">
            <ngx-datatable style="height: 500px; box-shadow: none" class="material fullscreen" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true" [rows]="row">
                <ngx-datatable-column name="">
                    <ng-template ngx-datatable-header-template>
                        ระดับ
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="">
                    <ng-template ngx-datatable-header-template>
                        ชั้นเรียน
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{row.clas}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="">
                    <ng-template ngx-datatable-header-template>
                        ห้องเรียน
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{row.classroom}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="">
                    <ng-template ngx-datatable-header-template>
                        ดูข้อมูล
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <button class="btn btn-primary ml-0" routerLink='/page/classroom-info'>ดูข้อมูล</button>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="">
                    <ng-template ngx-datatable-header-template>
                        แก้ไข
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <button class="btn btn-warning ml-0" (click)="getDetail(row.room_id,i)">แก้ไข</button>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="">
                    <ng-template ngx-datatable-header-template>
                        ลบห้องเรียน
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <button class="btn btn-danger ml-0" (click)="getId(row.room_id,i)">ลบห้องเรียน</button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>



<ng-template #modalAdd let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-primary" id="modal-title">เพิ่มชั้นเรียนและห้องเรียน</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="roomForm">
            <p class="text-primary mb-1"><strong>เพิ่มชั้นเรียน</strong></p>
            <input id="clas" type="text" class="form-control" formControlName="clas">
            <p class="text-primary mb-1"><strong>เพิ่มห้องเรียน</strong></p>
            <input id="classroom" type="number" class="form-control" formControlName="classroom">
            <p class="text-primary mb-1"><strong>จำนวนนักเรียน</strong></p>
            <input id="maxstd" type="number" class="form-control" formControlName="maxstd">
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-rounded"
            (click)="modal.dismiss('cancel')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-primary btn-rounded" (click)="onSubmit()">Ok</button>
    </div>
</ng-template>

<ng-template #modalUpdate let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-primary" id="modal-title">แก้ไขชั้นเรียนและห้องเรียน</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="roomForm">
            <div class="form-group">
                <p class="text-primary mb-1"><strong>ชั้นเรียน</strong></p>
                <input id="clas" type="text" class="form-control" formControlName="clas" required>
            </div>
            <div class="form-group">
                <p class="text-primary mb-1"><strong>ห้องเรียน</strong></p>
                <input id="classroom" type="number" class="form-control" formControlName="classroom" required>
            </div>
            <div class="form-group">
                <p class="text-primary mb-1"><strong>จำนวนนักเรียน</strong></p>
                <input id="maxstd" type="number" class="form-control" formControlName="maxstd" required>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-rounded"
            (click)="modal.dismiss('cancel')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-primary btn-rounded"
        (click) = "modal.dismiss(updateRoom())">Ok</button>
    </div>
</ng-template>

<ng-template #modalDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">ลบวิชา</h4>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>ต้องการลบวิชานี้<span class="text-primary"></span> หรือไม่?</strong></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">ยกเลิก</button>
      <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click) = "modal.dismiss(delete(detail.room_id,i))">ยืนยัน</button>
    </div>
</ng-template> -->