<h2 class="text-primary">ชั้นเรียนและห้องเรียน</h2>
<hr>
<div class="card">
    <div class="search-bar mt-4">
        <i class="search-icon text-muted i-Magnifi-Glass1"></i>
        <input placeholder="ค้นหาห้องเรียน" type="text" class="Field">
        <button class="btn-primary">เพิ่ม</button>
    </div>
    <div class="t row">
        <div class="col">
            <label>ชั้นเรียน</label>
        </div>
        <div class="col">
            <label>ห้องเรียน</label>
        </div>
        <div class="col">
            <label>จำนวนนักเรียน</label>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <hr class="mt-1">
    <div class="t row mb-3">
        <div class="col">ประถมศึกษาปีที่ 1</div>
        <div class="col">1</div>
        <div class="col">20</div>
        <div class="col">
            <button class="btn btn-primary" routerLink='/page/classroom-info'>ดูข้อมูล</button>
        </div>
        <div class="col">
            <button class="btn btn-danger">ลบห้องเรียน</button>
        </div>
    </div>
</div>