.t {
    text-align: center
}
.search-bar i{
    position: absolute;
}
.search-bar{
    margin-left: 75%;
    width: 100%;
    margin-bottom: 10px;
}
.search-icon{
    padding: 8px;
    width: 70px;
    text-align: left;
}
.Field{
    border:0;
    padding: 4px;
    padding-left: 2%;
    border-radius: 5px;
    box-shadow: 2px 2px #868686;
    margin-right: 10px;
}