<h2>ประถมศึกษาปีที่ 1 ห้องเรียน 1</h2>
<hr>
<div class="card o-hidden">
    <div class="search-bar mt-4">
        <i class="search-icon text-muted i-Magnifi-Glass1"></i>
        <input placeholder="ค้นหานักเรียน" type="text" class="Field">
    </div>
    <div class="t row">
        <div class="col">
            <label>รูปประจำตัวนักเรียน</label>
        </div>
        <div class="col">
            <label>เลขประจำตัวนักเรียน</label>
        </div>
        <div class="col">
            <label>ลำดับที่</label>
        </div>
        <div class="col">
            <label>รายชื่อ</label>
        </div>
        <div class="col">
            <label>สถานะนักเรียน</label>
        </div>
        <div class="col"></div>
    </div>
    <hr class="mt-1">
    <div class="t row mb-3">
        <div class="col"></div>
        <div class="col">1549</div>
        <div class="col">1</div>
        <div class="col">
            สมภาส พานทอง
        </div>
        <div class="col">
            นักเรียน
        </div>
        <div class="col">
            <button class="btn btn-primary" routerLink='/page/score'>ข้อมูลคะแนน</button>
        </div>
    </div>
</div>
