<div class="card o-hidden">
    <div class="row mb-3 mt-4">
        <div class="col"></div>
        <div class="col">
            <p class="text-primary">เลขประจำตัวนักเรียน : 1594</p>
            <p class="text-primary">ชื่อ : สมภาส พานทอง</p>
            <p class="text-primary">ชั้นเรียน : ประถมศึกษาปีที่ 1</p>
            <p class="text-primary">ห้องเรียน : 1</p>
            <p class="text-primary">สถานะการเรียน : เรียน</p>
        </div>
        <div class="col">
            <p class="text-primary">ปีการศึกษา : 1</p>
            <p class="text-primary">ภาคเรียนที่ : 1</p>
        </div>
        <div class="col"></div>
    </div>
    <div class="t row">
        <div class="col">
            <p class="poster">รหัสวิชา</p>
        </div>
        <div class="col">
            <p class="poster">วิชา</p>
        </div>
        <div class="col">
            <p class="poster">หน่วยกิต</p>
        </div>
        <div class="col">
            <p class="poster">คะแนนที่ได้</p>
        </div>
        <div class="col">
            <p class="poster">เกรดเฉลี่ย</p>
        </div>
    </div>
    <hr class="mt-1">
    <div class="t row">
        <div class="col">
            <p>0001</p>
        </div>
        <div class="col">
            <p>วิทยาศาสตร์</p>
        </div>
        <div class="col">
            <p>3</p>
        </div>
        <div class="col">
            <p>80</p>
        </div>
        <div class="col">
            <p>4.00</p>
        </div>
    </div>
    <hr>
    <div class="row mb-3">
        <div class="col"></div>
        <button class="btn btn-primary">ส่งเกรด</button>
        <div class="t col">
            <p>เกรดเฉลี่ยรวม 3.55</p>
        </div>
    </div>
</div>