<div class="">
    <div class="breadcrumb">
        <h1 class="text-primary">ช่วงเวลาการเรียน</h1>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input id="email" placeholder="ค้นหา" [formControl]="searchControl"
                    class="form-control form-control-rounded ml-0" type="email">
            </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary mr-0" (click)="confirm(modalConfirm)">เพิ่มเวลา</button>
        </div>
        <div class="col-md-12" >
            <div class="card  o-hidden">
                <ngx-datatable style="height: 700px; box-shadow: none" class="material fullscreen"
                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true"
                    [rows]="row" >
                    <ngx-datatable-column name="" [width]="80" >
                        <ng-template ngx-datatable-header-template>
                            ลำดับ
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            {{row.orders}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="">
                        <ng-template ngx-datatable-header-template>
                            ช่วงเวลา
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            {{row.starttime}}-{{row.endtime}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="">
                        <ng-template ngx-datatable-header-template>
                            ระยะเวลา
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            {{row.longterm}} (นาที)
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="" >
                        <ng-template ngx-datatable-header-template>
                            แก้ไขช่วงเวลา
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <button class="btn btn-warning ml-0 " (click)="getDetail(row.times_id,i)">แก้ไข</button>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="">
                        <ng-template ngx-datatable-header-template>
                            ลบรายช่วงเวลา
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <button class="btn btn-danger  ml-0 " (click)="getId(row.times_id,i)">ลบ</button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>


<ng-template #modalConfirm let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-primary" id="modal-title">เพิ่มช่วงเวลา</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.close('ok')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="timeForm">
            <div class="form-group">
              <label>ลำดับ</label>
              <input id="orders" class="form-control form-control-rounded  " type="text" formControlName="orders" placeholder="ลำดับ">
            </div>
            <div class="form-group">
                <label>เวลาเริ่มเรียน</label>
                <input id="starttime" class="form-control form-control-rounded  " type="text" formControlName="starttime" placeholder="00:00">
            </div>
            <div class="form-group">
                <label>เวลาเลิกเรียน</label>
                <input id="endtime" class="form-control form-control-rounded  " type="text" formControlName="endtime" placeholder="00:00">
            </div>
            <div class="form-group">
                <label>ระยะเวลา</label>
                <input id="longterm" class="form-control form-control-rounded  " type="number" formControlName="longterm" placeholder="00 นาที">
            </div>
            <div class="modal-footer">
                <button type="button" ngbAutofocus class="btn btn-primary btn-rounded" (click)="onSubmit()">เพิ่ม</button>
            </div>
        </form>
    </div>
</ng-template>


<ng-template #modalDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">ลบวิชา</h4>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>ต้องการลบวิชานี้<span class="text-primary"></span> หรือไม่?</strong></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">ยกเลิก</button>
      <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click) = "modal.dismiss(delete(detail.times_id,i))">ยืนยัน</button>
    </div>
</ng-template>



<ng-template #modalUpdate let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-primary" id="modal-title">แก้ไขรายวิชา</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
            (click)="modal.close('ok')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="timeForm">
            <div class="form-group">
              <label>ลำดับ</label>
              <input id="orders" class="form-control form-control-rounded  " type="number" formControlName="orders" required>
            </div>
            <div class="form-group">
                <label>เวลาเริ่มเรียน</label>
                <input id="starttime" class="form-control form-control-rounded  " type="number" formControlName="starttime" required>
            </div>
            <div class="form-group">
                <label>เวลาเลิกเรียน</label>
                <input id="endtime" class="form-control form-control-rounded  " type="text" formControlName="endtime" required>
            </div>
            <div class="form-group">
                <label>ระยะเวลา</label>
                <input id="longterm" class="form-control form-control-rounded  " type="text" formControlName="longterm" required>
            </div>
            <div class="modal-footer">
                <button type="button" ngbAutofocus class="btn btn-primary btn-rounded" (click) = "modal.dismiss(Update())">บันทึก</button>
            </div>
        </form>
    </div>
</ng-template>

