<div class="">
    <div class="breadcrumb">
      <i class="i-Letter-Open ml-1"></i>
      <h1 class="text-primary ml-3">โจทย์</h1>
      <ul>
        <li class="text-primary"> บทที่:{{Title.lesson}} {{Title.contents}}/ครั้งที่:{{Title.orders}}</li>
      </ul>
    </div>
  
    <div class="separator-breadcrumb border-top"></div>
    <div class="row" >
      <div class="col-md-3" *ngFor="let row of homeworkDetailList">
          <div class="card card-profile-1 mb-4">
              <div class="card-body text-center">
                  <div class=" box-shadow-2 mb-3 mt-4">
                      <img src="./assets/images/homeworktitle.jpeg" alt="" >
                      <p>{{row.title}}</p>
                  </div>
                  <h4 class="text-primary"><u href="" (click)="dowLoadFIle(row.content,row.title)">ดาวน์โหลดโจทย์</u></h4>
              </div>
              <div class="col-md-4 " >
                <label for="uploaFile" style="margin-left: 130%;">
                    <h1 class = "btn btn-primary">ส่งคำตอบ</h1>
                </label>
                <input type="file" accept=".docx, .pdf, .xlsx,.pptx" (change)="handleUpload($event)"  style="display: none;visibility: none;" id="uploaFile"/>
              </div>
          </div>
      </div>
    </div>
  </div>