<div class="row" >
    <!-- ICON BG -->
    <div class="col-lg-3 col-md-6 col-sm-6 " *ngFor="let row of row">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4" >
            <div class="card-body text-center">
                <i class="i-University1"></i>
                <div class="content">
                    <p class="text-primary text-10 line-height-2 mb-2">{{row.mapClassRoomTeacherName}}</p>
                    <button class="btn btn-primary mr-0" (click)="openModalDetail(row)">ตารางเรียน</button>
                </div>
            </div>
        </div>
    </div>