<div>
    <h4 class="modal-title text-primary" id="modal-title">ห้องเรียนทั้งหมด</h4>
</div>
<div class="row mt-5" >
    <div class="col-lg-3 col-md-6 col-sm-6 " *ngFor="let row of row">
        <div class="card card-icon-bg card-icon-bg-primary o-hidden mb-4" >
            <div class="card-body text-center">
                <i class="i-University1"></i>
                <div class="contents">
                    <p class="text-primary text-15 line-height-2 mb-2 ">{{row.mapClassRoomTeacherName}}</p>
                    <button class="btn btn-primary " routerLink="/page/online-detail/{{row.mapclassroomteacherId}}">ห้องเรียนออนไลน์</button>
                </div>
            </div>
        </div>
    </div>