<div class="breadcrumb">
    <h1 class="text-primary">เวลาสอน</h1>
</div>

<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div class="col-md-12">
        <div class="card  o-hidden">
            <ngx-datatable style="height: 500px; box-shadow: none" class="material fullscreen" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true" [rows]="">

                <ngx-datatable-column name="">
                    <ng-template ngx-datatable-header-template>
                        เวลา
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="">
                    <ng-template ngx-datatable-header-template>
                        ชั้นเรียน
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="">
                    <ng-template ngx-datatable-header-template>
                        ห้องเรียน
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="">
                    <ng-template ngx-datatable-header-template>
                        ห้อง
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        <button class="btn btn-primary ml-0" >เข้าห้อง</button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>