<h2>ข้อมูลส่วนบุคคล</h2>
<hr>
<div class="card o-hidden">
    <div class="t row mt-3">
        <img src="" alt="">
    </div>
    <div class=" row mb-3">
        <div class="col-md-6">
            <p class="text-poster">ชื่อ</p>
            <input class="form-control" type="text">
            <p class="text-poster">นามสกุล</p>
            <input class="form-control" type="text">
            <p class="text-poster">เลขประจำตัวประชาชน</p>
            <input class="form-control" type="text">
            <p class="text-poster">เบอร์โทร</p>
            <input class="form-control" type="text">
        </div>
        <div class="col-md-6">
            <p class="text-poster">E-mail</p>
            <input class="form-control" type="text">
            <p class="text-poster">Password</p>
            <input class="form-control" type="text">
        </div>
    </div>
    <div class="t row mb-3">
        <button class="btn btn-primary">ยืนยัน</button>
        <button class="btn btn-danger" routerLink='/page/emp-info'>ยกเลิก</button>
    </div>
</div>