<div class="">
    <div class="breadcrumb">
        <i class="i-Calendar ml-1"></i>
        <h1 class ="text-primary ml-3">ตารางเรียน</h1>
        <ul>
            <li class ="text-primary ">ชั้น{{Room.mapClassRoomTeacherName}}</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>


<div class="col-md-6" >
    
    <select class="form-control mt-5" (change)="getTimetable()" [(ngModel)]="Day" >
        <option [value]="0" disabled selected>เลือกวัน</option>
        <option *ngFor="let i of Week" [ngValue]="i.value">{{i.Name}}</option>
    </select>
</div>

<div class="col-md-12 mt-5">
    <div class="card  o-hidden">
            <ngx-datatable style="height: 500px; box-shadow: none;" class="material fullscreen"
                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true"
                [rows]="timetableList" >
                <ngx-datatable-column name="number" >
                    <ng-template ngx-datatable-header-template >
                        คาบ
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="period">
                    <ng-template ngx-datatable-header-template>
                        ช่วงเวลา
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="subjectCode">
                    <ng-template ngx-datatable-header-template>
                        รหัสวิชา
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="subjectName">
                    <ng-template ngx-datatable-header-template>
                        วิชา
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="teacherName">
                    <ng-template ngx-datatable-header-template>
                        ครูประจำวิชา
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
                    

