<div class="">
    <div class="breadcrumb">
        <i class="i-File-Edit ml-1"></i>
        <h1 class ="text-primary ml-3">การบ้าน</h1>
        <ul>
            <li class ="text-primary ">วิชา {{Subject.subjectCode}}{{Subject.subjectName}}</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>


    <div class="row">
        <div class="col-md-4">
            <h5 class="text-primary font-weight-bold">บทที่ : {{Title.lesson}} {{Title.contents}}/ครั้งที่ : {{Title.orders}}</h5>
        </div>
        <div class="col-md-4 mb-2" >
            <label for="uploaFile" style="margin-left: 150%;">
                <h1 class = "btn btn-primary">เพิ่มการบ้าน</h1>
            </label>
            <input type="file" accept=".docx, .pdf, .xlsx,.pptx" (change)="handleUpload($event)"  style="display: none;visibility: none;" id="uploaFile"/>
        </div>
    </div>

    <div class="row" >
    <div class="col-md-3" *ngFor="let row of row">
        <div class="card card-profile-1 mb-4">
            <div class="card-body text-center">
                <i class="i-Remove" style="font-size: 130%;margin-left: 90%;" (click)="remove(row.homeWorkDetailId, modalDelete)"></i>
                <div class=" box-shadow-2 mb-3 mt-4" (click)="dowLoadFIle(row.content,row.title)">
                    <img src="./assets/images/homeworktitle.jpeg" alt="" >
                    <p>{{row.title}}</p>
                </div>
            </div>
        </div>
    </div>
    





        <!-- <ng-template #modalConfirm let-modal>
            <div class="modal-header">
                <h4 class="modal-title text-primary" id="modal-title">เพิ่ม</h4>
                <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
                    (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" [formGroup]="addForm">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-primary mb-1">ข้อที่ <span class="request-star">*</span></p>
                        <input type="text" class="form-control" formControlName="no"
                            [class.is-invalid]="fu.hasError(addForm.controls.no)">
                        <div class="invalid-feedback" *ngIf="fu.hasError(addForm.controls.no)">
                            <div
                                *ngIf="addForm.controls.no.hasError('required') || addForm.controls.no.hasError('empty')">
                                กรุณาระบุข้อมูล
                            </div>
                            <div *ngIf="addForm.controls.no.hasError('maxlength')">
                                กรุณาระบุข้อมูลไม่เกิน {{ addForm.controls.no.errors.maxlength.requiredLength }} ตัวอักษร
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="text-primary mb-1">โจทย์ <span class="request-star">*</span></p>
                        <input type="text" class="form-control" formControlName="content"
                            [class.is-invalid]="fu.hasError(addForm.controls.content)">
                        <div class="invalid-feedback" *ngIf="fu.hasError(addForm.controls.content)">
                            <div
                                *ngIf="addForm.controls.content.hasError('required') || addForm.controls.content.hasError('empty')">
                                กรุณาระบุข้อมูล
                            </div>
                            <div *ngIf="addForm.controls.content.hasError('maxlength')">
                                กรุณาระบุข้อมูลไม่เกิน {{ addForm.controls.content.errors.maxlength.requiredLength }} ตัวอักษร
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-rounded"
                    (click)="modal.dismiss('cancel')">Cancel</button>
                <button type="button" ngbAutofocus class="btn btn-primary btn-rounded"
                (click)="save()">Ok</button>
            </div>
        </ng-template> -->

        <ng-template #modalDelete let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title">ยืนยัน</h4>
                <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
                    (click)="modal.dismiss('cancel')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>คุณแน่ใจหรือไม่ว่าจะลบข้อมูลนี้</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-rounded"
                    (click)="modal.dismiss('cancel')">ยกเลิก</button>
                <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close('Ok')">ยืนยัน</button>
            </div>
        </ng-template>